<form method = "post" action ="/students">

  <label for = "first-name">First Name:</label>
    <input id= "first-name" type="test" name="first_name"/>

  <label for= "last-name">Last Name:</label>
    <input id= "last-name" type="text" name="last_name"/>

  <label for= "house-select"> Select a house!</label>

    <select id="house-select" name="house">
      <option value="Gryffindor">Gryffinfor</option>
      <option value="Slytherin">Slytherin</option>
      <option value="Hufflepuff">Hufflepuff</option>
      <option value="Ravenclaw">Ravenclaw</option>
    </select>

  <label for="age"> Age: </label>
    <input id ="age" type="number" name="age"/>

  <input type="submit" value="Add Student"/>
